

/*                general                       */

.body {
    background-image: url(https://s3.us-east-2.amazonaws.com/back-roads-party/background.jpg);
    background-attachment: fixed;
}

.d-grey-t {
    color: #4E4F54;  
}

.g-grey {
    background-color: #D4D3D3;
}

.g-orange {
    background-color: #4093E7;
}

.g-mint {
    background-color: #98ffff;
}

.g-white {
    background-color: white;
}

.z-down {
    z-index: -1;
}


/*              nav bar styling                 */
.top-logo {
    padding-top: 3em;
    text-align: center;
    height: 300em;
}

.top-logo-pic {
    height: 20em;
    width: 20em;
}

.navBar-bg {
    height: 2em;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-active {
    z-index: 3;
}

.nav-color {
    background-image: url(https://s3.us-east-2.amazonaws.com/back-roads-party/background-nav.jpg);
    /* opacity: 0.5; */
}

.nav-color.collapsed {
    background-color: #C0C0C0
}

.navBar-item {
    /* z-index: 2; */
}

.navBar-logo-btn {
    width: 17%;
}

.nav-item:hover {
    background-color: blue;
}

.nav-active {
    background-color: deepskyblue;
}

.nav-tog {
    background-image: url("https://image.flaticon.com/icons/png/512/54/54206.png")
}

.nav-tog-button {
    margin: 0px;
}

.navBar-item.show {
    /* background-color: red; */
    background-image: linear-gradient(rgba(255,255,255), rgba(255,255,255, 0.5));
    width: 45%;
}

.cat-nav-spacer {
    margin-right: 5em;
}

.nav-brand {
    z-index: -1;
}


/*                home screen                  */

.featured-card {
    width: 20%;
}

.fp-button {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    color: black;
}

/*          rentals page side info box         */
.rentals-cat {
    margin-top: 2em;
    /* margin-left: 23%; */
    position: fixed;
    height: 3.5em;
    width: 100%;
}

.rentals-bg-div {
    margin-top: 2em;
    position: fixed;
    height: 1.5em;
    width: 100%;
}

.rentals-bg-tri {
    position: fixed;
    margin-top: 2em;
    margin-left: 18.57%;
    width: 0; 
    height: 0; 
    border-top: 1.5em solid transparent;
    border-bottom: 2em solid transparent; 
    border-right: 4em solid #D4D3D3; 
  }

  .nav-cat-bg {
      padding-top: 7em;
      padding-bottom: 0em;
      width: 100%;
      position: fixed;
  }

  .gradient {
    height: 20px;
    width: 100%;
    /* background-color: red; */
    position: fixed;
    background-image: linear-gradient(rgba(211,211,211,0.5), rgba(211,211,211));
  }

/* .rentals-cat-space {
    height: 1em;
    width: 22%;
} */

/* .calender-div {
    height: 25%;
    width: 80%;
    background-color: blueviolet;
    margin: 1em;
    bottom: 0;
} */

.rentals-info-box {
    float: left;
    position: fixed;
    margin: 4.7em 0 0 .5em;
    width: 20%;
    height: 85%;
    min-width: 225px;
}

.rentals-container {
    /* padding-top: 5.5em; */
}


/*                rentals page             */
.rentals-search-div {
    float: right;
    width: 75%;
    margin: .5em 1em;
    
}

.rentals-search-text {
    float: left;
    width: 50%;
    font-size: 1.3vw;
}

.rentals-input {
    float:right;
    width:50%;
}

.rentals-head {
    float: left;
    width: 95%;
    margin: .5em 1em;
}

.picture-shadow {
    box-shadow: 4px 6px 2px dimgrey;
}

.text-shadow {
    box-shadow: 3px 3px 2px dimgrey
}

.rentals-image {
    width: 50%;
    
}

.rentals-text-div {
    width: 50%;
    float: right;
    box-shadow: 3px 3px 2px dimgrey, inset 3px 0px 2px dimgrey;
}


.rentals-name {
    text-align: center;
}

.rentals-description {
    text-align: center;
}

.rentals-link {
    color: black;
    margin: 10px;
    text-align: center;
    
}

.preview-image {
    margin: 1em 1em 0em 1em;
    height: 40px;
    
    /* min-height: 15px; */
}

.gallery-image {
    height: 200px;
}

/* .gallery-container {

} */

.selected {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.carousel-inner-slide-show {
    min-height: 20em;
}

.c-image {
    width: 90%;
}


      /*       Rentals Calender       */

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.calendar {
  display: block;
  background: #FFFFFF;
  width: 225px;
  border: solid 1px #CCCCCC;
  margin: 10px auto;
  box-shadow: 0 0 15px 0 #C0C0C0;
  font-size: 1.3rem;
  text-align: center;
  
}
.calendar header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  
}
.calendar header .month-display {
  align-items: center;
  height: 80px;
  background: #2875C7;
}
.calendar header .month-label {
  flex: 1;
}
.calendar header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .calendar header .arrow:hover {
  background: #1f5c9d;
} */
.calendar .week {
  border-top: solid 1px #CCCCCC;
}
.calendar .week:first-child {
  border-top: none;
}
.calendar .day-names {
  color: #2875C7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day-names .day {
  cursor: default;
}
/* .calendar .day-names .day:hover {
  background: inherit;
} */
.calendar .day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 35px;
  border-left: solid 1px #CCCCCC;
  cursor: pointer;
  transition: all .2s;
}
/* .calendar .day:hover {
  background: #EFEFEF;
} */
.calendar .day:first-child {
  border-left: none;
}
.calendar .day.today {
  background: #dceaf8;
}
.calendar .day.different-month {
  color: white;
}
.calendar .day.selected {
  background: #2875C7;
  color: #FFFFFF;
}

.calendar .day.rented {
  background: #dae038;
  color: #FFFFFF;
}

.day.rented.selected {
  background: orange;
  color: #FFFFFF;
}

.day.rented.soldOut.selected {
  background: red;
  color: #FFFFFF;
}

.day.rented.soldOut {
    background: red;
    color: #FFFFFF;
}

.day.rented.different-month{
    background: white;
    color: white;
}

.day.rented.soldOut.different-month {
    background: white;
    color: white;
}





/*           faq updating              */

.rules-input {
    width: 750px;
}

.faq-input {
    width: 300px;
}

/*          faq page       */
.faq-list {
    font-size: 1.5em;
}

.faq-div {
    background-color: white;
}

/*              details             */
.details-main-image {
    /* height: 450px; */
    width: auto;
    height:auto;
    min-width: 300px;
}

.details-main-div {
    /* width: auto; */
    height:auto;
    /* background-color: red; */
}

.details-text-div {
    min-height: 100px;
    width: 40em;
    /* overflow: scroll; */
    height: auto;
    /* max-height: 500px; */
    width: auto;
    min-width: 250px;
}

.details-images {
    max-height: 150px;
    height: auto;
}

/*          parallax          */

#para1 {
    height: 40em;
}

#para2 {
    height: 25em;
}

.story {
    font-weight: bold;
    color: black;
    z-index: 3;
}

#story-div {
    height: 20em;
    width: 94%;
    background-color: lightgrey;
    position: absolute;
    margin: 3em 4em; 
    opacity: 0.25;
    
}

.parallax {
     

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-modal-image {
    width: 90%;
    max-height: 100em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.featured-replace-thumb {
    width: 150px;
}

.w-80 {

    width: 80%;
}


.home-header-text {
    overflow: auto;
}

.featured-prd-container {
    min-width: 200px;
}

.invisible {
    height: 1px;
    width: 1px;
    margin:0;
}


