

/*                general                       */

.d-grey-t {
    color: #4E4F54;  
}


/*              nav bar styling                 */
.navBar-bg {
    background-color: #ffc266;
    height: 2em;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navBar-item {
    z-index: 2;
}


/*                home screen                  */

.featured-card {
    width: 20%;
}

.fp-button {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

/*          rentals page side info box         */
.rentals-cat {
    margin-top: 2em;
    position: fixed;
    height: 3em;
    width: 100%;
}

.calender-div {
    height: 25%;
    width: 80%;
    background-color: blueviolet;
    margin: 1em;
    /* position: absolute; */
    bottom: 0;
}

.rentals-info-box {
    background-color: aqua;
    float: left;
    position: fixed;
    margin: 5.5em 0 0 .5em;
    width: 20%;
    height: 85%;
}

.rentals-container {
    padding-top: 5.5em;
}


/*                rentals page             */
.rentals-search-div {
    float: right;
    width: 75%;
    margin: .5em 1em;
    
}

.rentals-search-text {
    float: left;
    width: 50%;
    font-size: 1.3vw;
}

.rentals-input {
    float:right;
    width:50%;
}

.rentals-head {
    background-color: red;
    float: right;
    width: 75%;
    margin: .5em 1em;
}

.rentals-image {
    width: 50%;
}

.rentals-text-div {
    width: 50%;
    float: right;
}

.rentals-name {
    background-color: blue;
    text-align: center;
}

.rentals-description {
    background-color: purple;
    text-align: center;
}
